In [1]:
import pandas as pd

In [82]:
corn = pd.read_csv("corn-yield-gap.csv")
rice = pd.read_csv("rice-yield-gap.csv")
xtr_poverty = pd.read_csv("share-of-population-living-in-extreme-poverty.csv")
#healthy_diet = pd.read_csv("share-of-population-that-cannot-afford-a-healthy-diet.csv")
calories_per_person = pd.read_csv("total-daily-supply-of-calories-per-person.csv")
#health_care_spend = pd.read_csv("total-healthcare-spending-as-a-share-of-gdp.csv")
trade_as_gdp_share = pd.read_csv("trade-as-share-of-gdp.csv")
wheat = pd.read_csv("wheat-yield-gap.csv")
allocations = pd.read_csv("allocations_combined.csv")

In [52]:
wheat.head()

        Entity Code  Year  Wheat yield gap
0  Afghanistan  AFG  1961           2.9780
1  Afghanistan  AFG  1962           3.0265
2  Afghanistan  AFG  1963           3.1683
3  Afghanistan  AFG  1964           3.0490
4  Afghanistan  AFG  1965           3.0277

In [32]:
wheat.Year.unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 1850, 1911, 1934,
       1950, 1275, 1305, 1355, 1405, 1455, 1555, 1605, 1655, 1705, 1755,
       1805, 1855, 1865, 1887, 1912, 1932, 1944])

In [33]:
corn.Year.unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 1866, 1867, 1868,
       1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879,
       1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890,
       1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901,
       1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912,
       1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923,
       1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934,
       1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945,
       1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
       1957, 1958, 1959, 1960, 2024])

In [54]:
corn.head()

        Entity Code  Year  Corn yield gap
0  Afghanistan  AFG  1961        9.000000
1  Afghanistan  AFG  1962        9.000000
2  Afghanistan  AFG  1963        8.973999
3  Afghanistan  AFG  1964        8.974299
4  Afghanistan  AFG  1965        8.959999

In [34]:
rice.Year.unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [55]:
rice.head()

        Entity Code  Year  Rice yield gap
0  Afghanistan  AFG  1961          7.8410
1  Afghanistan  AFG  1962          7.8410
2  Afghanistan  AFG  1963          7.8410
3  Afghanistan  AFG  1964          7.6327
4  Afghanistan  AFG  1965          7.6327

In [44]:
xtr_poverty.Year.unique()

array([1996, 2002, 2005, 2008, 2012, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 1988, 1995, 2011, 2000, 1980, 1986, 1987, 1991, 1992, 1993,
       1994, 1997, 1998, 1999, 2001, 2003, 2004, 2006, 2007, 2009, 2010,
       2013, 2021, 2022, 2023, 2024, 1981, 1985, 1989, 1983, 1990, 1982,
       1984, 1971, 1973, 1975, 1977, 1979, 2025, 1970, 1978, 1968, 1969,
       1972, 1974, 1976, 1963, 1964, 1965, 1966, 1967])

In [83]:
xtr_poverty.head()
xtr_poverty = xtr_poverty.rename(columns={'Country': 'Entity', 'Year': 'Year', 'Share below $3 a day':'Share below $3 a day'})
xtr_poverty.head()

    Entity  Year  Share below $3 a day
0  Albania  1996              2.967841
1  Albania  2002              4.194722
2  Albania  2005              2.650218
3  Albania  2008              0.827308
4  Albania  2012              1.794590

In [45]:
healthy_diet.Year.unique()

array([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [46]:
calories_per_person.Year.unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [57]:
calories_per_person.head()

,Entity,Code,Year,All food - Food available for consumption (kilocalories per day per capita)
0,Afghanistan,AFG,1961,2914.3484
1,Afghanistan,AFG,1962,2835.6074
2,Afghanistan,AFG,1963,2623.7017
3,Afghanistan,AFG,1964,2872.5679
4,Afghanistan,AFG,1965,2876.1790

In [47]:
health_care_spend.Year.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2000,
       2001])

In [48]:
trade_as_gdp_share.Year.unique()

array([2020, 2021, 2022, 2023, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2024, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979])

In [58]:
trade_as_gdp_share.head()

        Entity Code  Year  Trade (% of GDP)
0  Afghanistan  AFG  2020         46.709896
1  Afghanistan  AFG  2021         51.411716
2  Afghanistan  AFG  2022         72.885470
3  Afghanistan  AFG  2023         67.584660
4      Albania  ALB  1980         47.494090

In [84]:
allocations = allocations.rename(columns={'countryName': 'Entity', 'year': 'Year', 'totalAmountApproved':'Allocations'})
allocations.head()

        Entity  Year  Allocations
0  Afghanistan  2016    3312409.0
1  Afghanistan  2017    4600042.0
2  Afghanistan  2018    8362704.0
3  Afghanistan  2019     422360.0
4  Afghanistan  2020   21625000.0

In [85]:
df1 = pd.merge(wheat,corn, how='inner')
df2 = pd.merge(df1,rice, how='inner')
df3 = pd.merge(df2,xtr_poverty, how='inner')
##df4 = pd.merge(df3,healthy_diet, how='inner')
df5 = pd.merge(df3,calories_per_person, how='inner')
##df6 = pd.merge(df5,health_care_spend, how='inner')
df7 = pd.merge(df5,trade_as_gdp_share, how='inner')
df8 = pd.merge(df7,wheat, how='inner')
df9 = pd.merge(df8,allocations, how='left')

In [86]:
df9.head()

,Entity,Code,Year,Wheat yield gap,Corn yield gap,Rice yield gap,Share below $3 a day,All food - Food available for consumption (kilocalories per day per capita),Trade (% of GDP),Allocations
0,Algeria,DZA,1988,3.6894,10.810000,6.567500,12.263001,2784.9510,38.111588,NaN
1,Algeria,DZA,1995,3.3976,10.198501,7.398499,11.807000,2867.6404,55.191006,NaN
2,Algeria,DZA,2011,2.5495,9.472601,7.751100,0.000000,3316.9983,62.220090,NaN
3,Angola,AGO,2008,3.2000,4.915400,5.751600,22.079582,1905.3518,108.680410,NaN
4,Angola,AGO,2018,3.2847,4.662300,5.107700,39.294704,2450.5085,58.916480,900003.0

In [77]:
df9.Year.unique()

array([1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973,
       1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022])

In [112]:
df9[df9['Allocations'].isnull()]

,Entity,Code,Year,Wheat yield gap,Corn yield gap,Rice yield gap,Share below $3 a day,All food - Food available for consumption (kilocalories per day per capita),Trade (% of GDP),Allocations
0,Algeria,DZA,1988,3.6894,10.810000,6.567500,12.263001,2784.9510,38.111588,NaN
1,Algeria,DZA,1995,3.3976,10.198501,7.398499,11.807000,2867.6404,55.191006,NaN
2,Algeria,DZA,2011,2.5495,9.472601,7.751100,0.000000,3316.9983,62.220090,NaN
3,Angola,AGO,2008,3.2000,4.915400,5.751600,22.079582,1905.3518,108.680410,NaN
5,Australia,AUS,1981,2.4135,4.141600,2.210200,0.993503,3058.4868,31.557665,NaN
...,...,...,...,...,...,...,...,...,...,...
909,Zambia,ZMB,2010,0.0000,2.632900,5.702200,71.367195,1925.5963,65.014700,NaN
910,Zambia,ZMB,2015,0.0000,2.189000,5.955200,67.892840,2105.6296,79.865270,NaN
911,Zambia,ZMB,2022,0.0000,2.793900,5.806500,71.656150,2143.6448,69.297320,NaN
912,Zimbabwe,ZWE,2011,1.9896,4.403200,7.670300,35.717000,2154.4230,89.465940,NaN
913,Zimbabwe,ZWE,2017,2.8958,3.666700,7.845500,44.656870,2039.2639,55.028316,NaN

In [116]:
df9['binary'] = df9['Allocations'].apply(lambda x: 1 if pd.notna(x) else 0)

In [118]:
df9.head(1)

,Entity,Code,Year,Wheat yield gap,Corn yield gap,Rice yield gap,Share below $3 a day,All food - Food available for consumption (kilocalories per day per capita),Trade (% of GDP),Allocations,binary
0,Algeria,DZA,1988,3.6894,10.81,6.5675,12.263001,2784.951,38.111588,NaN,0

In [63]:
df8.to_csv("indicators.csv")

In [97]:
df1.size

24685

In [98]:
df2.size

22140

In [99]:
df3.size

6860

In [100]:
df5.size

7592

In [101]:
df7.size

8235

In [87]:
df8.size

8235

In [88]:
df9.size

9150

In [119]:
df9.head(1)

,Entity,Code,Year,Wheat yield gap,Corn yield gap,Rice yield gap,Share below $3 a day,All food - Food available for consumption (kilocalories per day per capita),Trade (% of GDP),Allocations,binary
0,Algeria,DZA,1988,3.6894,10.81,6.5675,12.263001,2784.951,38.111588,NaN,0

In [127]:
df = df9.rename(columns={'Entity': 'entity',
                        'Code': 'code',
                        'Year':'year',
                        'Wheat yield gap': 'wheat_yield_gap',
                        'Corn yield gap':'corn_yield_gap',
                        'Rice yield gap': 'rice_yield_gap',
                        'Share below $3 a day':'share_below_3_daily',
                        'All food - Food available for consumption (kilocalories per day per capita)':'kilo_cals_consumed_daily',
                        'Trade (% of GDP)': 'trade_of_gdp',
                        'Allocations':'allocations',
                        'binary':'binary'
                       })

In [128]:
df.head()

,entity,code,year,wheat_yield_gap,corn_yield_gap,rice_yield_gap,share_below_3_daily,kilo_cals_consumed_daily,trade_of_gdp,allocations,binary
0,Algeria,DZA,1988,3.6894,10.810000,6.567500,12.263001,2784.9510,38.111588,NaN,0
1,Algeria,DZA,1995,3.3976,10.198501,7.398499,11.807000,2867.6404,55.191006,NaN,0
2,Algeria,DZA,2011,2.5495,9.472601,7.751100,0.000000,3316.9983,62.220090,NaN,0
3,Angola,AGO,2008,3.2000,4.915400,5.751600,22.079582,1905.3518,108.680410,NaN,0
4,Angola,AGO,2018,3.2847,4.662300,5.107700,39.294704,2450.5085,58.916480,900003.0,1

In [129]:
df.to_csv("indicators3.csv")

In [143]:
famine_score = pd.read_csv("famine_risk_scores.csv")

In [146]:
famine_score.size

23188

In [144]:
famine_score.head(20)

,entity,code,year,wheat_yield_gap,corn_yield_gap,rice_yield_gap,share_below_3_daily,kilo_cals_consumed_daily,trade_of_gdp,allocations,...,share_below_3_daily_lag2,share_below_3_daily_lag3,kilo_cals_consumed_daily_lag1,kilo_cals_consumed_daily_lag2,kilo_cals_consumed_daily_lag3,trade_of_gdp_lag1,trade_of_gdp_lag2,trade_of_gdp_lag3,famine_risk_score,predicted_famine
0,Venezuela,VEN,1992,4.2435,1.624000,1.050000,6.884314,2511.2053,53.476140,NaN,...,12.285000,11.336000,2287.9587,2554.3720,2732.8691,53.427320,42.305748,55.406406,0.999799,1
1,Pakistan,PAK,1998,2.5224,2.374700,2.737000,50.284134,2219.1602,34.011726,NaN,...,79.464740,80.625940,2258.8674,2239.8848,2155.0210,38.330128,35.034576,32.897102,0.999739,1
2,Pakistan,PAK,2005,2.1742,1.175700,2.455800,40.808090,2123.9485,29.878494,NaN,...,56.245186,50.284134,2119.5740,2131.7979,2219.1602,24.808334,23.577208,34.011726,0.999456,1
3,Tajikistan,TJK,2021,1.9990,0.000000,0.000000,9.067149,2710.8770,71.825935,NaN,...,15.707685,24.190775,2421.4440,2084.8965,2040.0510,49.937817,85.978134,145.528100,0.999261,1
4,Uganda,UGA,2019,2.4487,3.047400,5.606500,59.784378,2125.4680,39.361053,6433012.0,...,56.162113,63.549877,2026.3107,2308.6091,2292.5590,31.209362,43.502136,47.063877,0.997138,1
5,Tanzania,TZA,2011,3.5296,3.459700,4.731400,51.532450,2295.3710,56.166122,NaN,...,86.937360,73.456200,2198.1340,1991.0048,2194.0583,48.058395,23.989115,30.231623,0.995796,1
6,Ecuador,ECU,2004,4.6947,3.315900,1.671299,19.438683,2212.9634,56.074547,NaN,...,34.052780,26.933432,2186.8005,2256.8696,2295.6594,52.357544,65.404300,49.201252,0.995283,1
7,Mozambique,MOZ,2019,3.0650,3.106900,4.833600,81.631590,2110.7837,105.591170,15016189.0,...,81.127630,87.566080,2040.5703,2257.6218,2079.9355,116.356860,64.981415,73.309166,0.995125,1
8,Ecuador,ECU,2018,3.7858,1.575500,2.258399,4.692843,2541.5408,48.009346,536002.0,...,4.970065,4.770791,2549.7742,2537.4006,2603.8430,43.617720,40.534492,47.828040,0.994134,1
9,Madagascar,MDG,2005,1.9306,3.473600,3.376000,55.312150,1966.4911,59.130085,NaN,...,78.520820,80.669970,1899.7520,1913.5381,1930.8206,41.035126,40.924410,36.873750,0.993149,1
10,Brazil,BRA,1987,2.2346,3.075700,4.212500,25.504920,2703.6450,16.262398,NaN,...,32.419662,36.943430,2697.3220,2642.7236,2610.8042,15.860654,20.449766,23.830074,0.992599,1
11,Ecuador,ECU,2005,4.7780,3.076800,1.991100,15.378599,2236.7712,61.958150,NaN,...,18.855589,34.052780,2212.9634,2186.8005,2256.8696,56.074547,52.357544,65.404300,0.989439,1
12,Venezuela,VEN,1999,2.6163,0.747600,0.135499,16.704700,2329.1720,42.070232,NaN,...,15.144260,6.884314,2342.1968,2422.8333,2511.2053,43.599392,47.342342,53.476140,0.989101,1
13,Ecuador,ECU,2017,4.2076,1.197699,2.174600,4.279495,2549.7742,43.617720,NaN,...,4.770791,3.969928,2537.4006,2603.8430,2601.2761,40.534492,47.828040,61.426376,0.987697,1
14,Madagascar,MDG,1999,1.9028,4.103800,3.961600,78.520820,1913.5381,40.924410,NaN,...,83.059160,61.729996,1930.8206,2008.1166,2356.2214,36.873750,32.865890,30.266360,0.985673,1
15,Uganda,UGA,2016,2.4890,2.362300,4.540200,60.105316,2026.3107,31.209362,10175434.0,...,63.549877,72.403595,2308.6091,2292.5590,2390.3870,43.502136,47.063877,38.994286,0.982104,1
16,Uganda,UGA,1999,2.2367,2.778100,5.152900,80.607290,2273.2449,36.024710,NaN,...,79.887930,72.770000,2147.7017,2220.3500,2313.0127,35.385487,33.052143,26.047628,0.981864,1
17,Guatemala,GTM,2006,2.0788,2.879300,3.673800,10.515569,2347.7112,67.911930,NaN,...,13.390000,35.128002,2068.8564,2068.3005,2196.8623,49.145588,44.423740,39.781548,0.980330,1
18,Ecuador,ECU,2020,3.3132,1.376700,2.462700,8.438639,2545.8577,43.989310,NaN,...,4.692843,4.279495,2508.7085,2541.5408,2549.7742,48.082848,48.009346,43.617720,0.979361,1
19,India,IND,2004,1.6868,1.512700,1.744400,46.424168,2205.6260,37.503815,NaN,...,51.780260,50.867126,2266.5140,2192.8723,2239.7808,19.651539,12.584814,13.690594,0.978153,1

In [147]:
famine_score[famine_score['predicted_famine'] == 1]

,entity,code,year,wheat_yield_gap,corn_yield_gap,rice_yield_gap,share_below_3_daily,kilo_cals_consumed_daily,trade_of_gdp,allocations,...,share_below_3_daily_lag2,share_below_3_daily_lag3,kilo_cals_consumed_daily_lag1,kilo_cals_consumed_daily_lag2,kilo_cals_consumed_daily_lag3,trade_of_gdp_lag1,trade_of_gdp_lag2,trade_of_gdp_lag3,famine_risk_score,predicted_famine
0,Venezuela,VEN,1992,4.2435,1.624000,1.050000,6.884314,2511.2053,53.476140,NaN,...,12.285000,11.336000,2287.9587,2554.3720,2732.8691,53.427320,42.305748,55.406406,0.999799,1
1,Pakistan,PAK,1998,2.5224,2.374700,2.737000,50.284134,2219.1602,34.011726,NaN,...,79.464740,80.625940,2258.8674,2239.8848,2155.0210,38.330128,35.034576,32.897102,0.999739,1
2,Pakistan,PAK,2005,2.1742,1.175700,2.455800,40.808090,2123.9485,29.878494,NaN,...,56.245186,50.284134,2119.5740,2131.7979,2219.1602,24.808334,23.577208,34.011726,0.999456,1
3,Tajikistan,TJK,2021,1.9990,0.000000,0.000000,9.067149,2710.8770,71.825935,NaN,...,15.707685,24.190775,2421.4440,2084.8965,2040.0510,49.937817,85.978134,145.528100,0.999261,1
4,Uganda,UGA,2019,2.4487,3.047400,5.606500,59.784378,2125.4680,39.361053,6433012.0,...,56.162113,63.549877,2026.3107,2308.6091,2292.5590,31.209362,43.502136,47.063877,0.997138,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Italy,ITA,2010,1.8079,0.632799,3.118100,1.410456,3654.1243,51.662113,NaN,...,0.852603,0.788204,3617.9841,3613.8503,3641.0928,45.141476,54.214256,54.828040,0.175467,1
272,Peru,PER,2007,4.5638,4.802899,0.678299,18.893312,2443.5151,55.688114,NaN,...,25.375208,23.548195,2407.7900,2375.5940,2259.0535,51.785057,47.357320,41.936077,0.175183,1
273,Bolivia,BOL,2016,2.8766,3.132900,3.077100,7.172521,2382.6685,56.401035,NaN,...,5.598165,6.757829,2338.5760,2277.8997,2287.6130,67.932846,85.264470,81.230910,0.174562,1
274,Peru,PER,2019,4.2577,4.155600,0.000000,5.419252,2836.5437,46.943504,NaN,...,7.314062,7.469328,2793.5847,2767.5630,2757.1624,48.631470,47.513550,45.388840,0.171750,1
275,Honduras,HND,2019,3.1038,2.536100,2.323200,18.779030,2637.1830,99.459980,2559924.0,...,19.327454,19.842040,2633.0220,2613.7964,2615.3250,103.551160,101.813110,99.815720,0.171052,1

In [148]:
famine_score[famine_score['predicted_famine'] == 0]

,entity,code,year,wheat_yield_gap,corn_yield_gap,rice_yield_gap,share_below_3_daily,kilo_cals_consumed_daily,trade_of_gdp,allocations,...,share_below_3_daily_lag2,share_below_3_daily_lag3,kilo_cals_consumed_daily_lag1,kilo_cals_consumed_daily_lag2,kilo_cals_consumed_daily_lag3,trade_of_gdp_lag1,trade_of_gdp_lag2,trade_of_gdp_lag3,famine_risk_score,predicted_famine
276,Romania,ROU,2006,2.7863,6.2546,6.070700,11.075025,3597.8281,61.683624,NaN,...,3.496788,18.412000,3087.5198,3067.9177,2973.0857,63.205242,56.291225,51.867070,0.170262,0
277,Peru,PER,2012,4.3309,4.3316,0.000000,9.527239,2671.3691,52.619896,NaN,...,11.200563,13.673301,2605.7793,2592.4116,2565.2964,55.988280,51.672810,48.111930,0.169873,0
278,Paraguay,PRY,2022,2.4039,1.2911,2.230799,3.232262,3065.1274,73.737910,NaN,...,2.555121,2.443896,3098.4460,3115.6170,3103.7358,69.742270,62.760216,71.222160,0.168344,0
279,Tajikistan,TJK,2022,2.0630,0.0000,0.000000,8.852836,2706.0093,65.435510,NaN,...,13.330254,15.707685,2710.8770,2421.4440,2084.8965,71.825935,49.937817,85.978134,0.166451,0
280,World,OWID_WRL,2004,1.6974,2.4449,1.623300,30.324295,2666.9324,54.402477,NaN,...,33.807120,35.310360,2657.9585,2653.9026,2653.9727,50.847305,49.193462,49.176537,0.164346,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,Mexico,MEX,2020,0.0000,2.3478,0.000000,4.256035,3250.7305,76.854550,NaN,...,4.436893,7.198524,3217.5050,3199.7224,3157.6462,80.212660,75.690300,64.098410,0.000066,0
744,Azerbaijan,AZE,2005,2.0582,7.2297,5.769699,0.000000,2825.6985,115.841880,NaN,...,0.248748,0.242402,2631.2680,2544.7185,2447.3618,121.507120,107.551950,92.818146,0.000049,0
745,Hungary,HUN,2005,1.3100,2.1029,5.827400,1.020275,3279.8425,128.004800,NaN,...,0.720878,1.913169,3202.1946,3008.7434,3032.1643,123.615685,113.869530,56.305996,0.000031,0
746,Kazakhstan,KAZ,2006,1.6352,6.1283,6.073399,2.384845,2905.7000,91.453530,NaN,...,7.555721,12.265744,2861.2710,2800.7950,2784.3242,97.762505,96.409200,91.463330,0.000023,0
747,Romania,ROU,2007,3.9500,8.1270,5.967700,8.143267,3560.2040,63.505157,NaN,...,4.248842,3.496788,3597.8281,3087.5198,3067.9177,61.683624,63.205242,56.291225,0.000005,0